.slidecontainer {
  width: 20%;
  display: inline-block;
  padding: 0 20px 0 20px;
}
.sliderLabel {
  padding: 0px;
  display: inline-block;
}

.sliderPreview {
  padding: 0px;
  display: inline-block;
}

.resultat1 {
  flex: 1;
  float: right;
  font-weight: 700;
}

.inputs1 {
  display: inline-block;
  flex: 0.5;
}

.section1 {
  display: flex;
}

.resultat-namn {
  display: inline-block;
}

.resultat-varde {
  display: inline-block;
}

.section2 {
  display: flex;
}

.inputs2 {
  display: inline-block;
  flex: 0.5;
}

.resultat2 {
  display: inline-block;
  flex: 1;
  font-weight: 700;
}
