.slidecontainer {
  width: 100%;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sliderLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sliderPreview {
  padding: 0 0 0 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultat {
  font-weight: 700;
}

.inputs {
  flex: 1;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 20em 1fr 20em;
}

.section1 {
  display: flex;
  text-align: right;
}

.section2 {
  display: flex;
  text-align: right;
}
